.header-image {
    background-image: url('../../assets/honey-2441542_1920.jpg');
    background-size: cover;
  }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}