<md-card>
  <md-card-header>
    <div md-card-avatar class="header-image"></div>
    <md-card-title>Liste de Prix</md-card-title>
    <md-card-subtitle>Miel de Gingins</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <table>
      <tr>
        <th>Poids</th>
        <th>Prix</th>
      </tr>
      <tr>
        <td>500gr</td>
        <td>13.50</td>
      </tr>
      <tr>
        <td>250gr</td>
        <td>7.-</td>
      </tr>
      <tr>
        <td>125gr</td>
        <td>3.60</td>
      </tr>
    </table>
    <p>
      Famille Danna, rue de Derrière 34, 1276 Gingins
    </p>
  </md-card-content>
</md-card>