<md-card>

  <md-card>
    <h1 translate>Title</h1>
  </md-card>
  <br>

</md-card>

<md-card>
  <div>
    {{ 'Intro' | translate:user }}
  </div>

  <div>
    {{ 'Startpage.TranslationSections' | translate }}
  </div>

  <div>
    {{ 'Aboutpage.TranslationSections' | translate }}
  </div>

</md-card>


<br/>

<md-card>
  <button (click)="switchLanguage('en')">en</button>
  <button (click)="switchLanguage('fr')">fr</button>
  <button (click)="switchLanguage('de')">de</button>
  <button (click)="switchLanguage('it')">it</button>
  <button (click)="switchLanguage('es')">es</button>
</md-card>