<div class="container">

  <div class="card-printemps">
    <md-card class="miel-de-printemps">
      <md-card-header>
        <div md-card-avatar class="header-image"></div>
        <md-card-title>Miel de printemps</md-card-title>
        <md-card-subtitle>Miel de Gingins</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/bee-1539488_1920.jpg" alt="Photo of a Shiba Inu">
      <md-card-content>
        <p>
          Le miel de printemps, toujours clair, moelleux et facile à tartiner, est issu du colza et de diverses autres fleurs qui s'épanouissent
          en même temps (notamment le pommier, mais aussi le cerisier, le pissenlit et le trèfle) : ses arômes floraux doux
          et suaves sont évidents.
        </p>
      </md-card-content>
    </md-card>
  </div>

  <div class="card-ete">
    <md-card class="miel-d-ete">
      <md-card-header>
        <div md-card-avatar class="header-image"></div>
        <md-card-title>Miel d'été</md-card-title>
        <md-card-subtitle>Miel de Gingins</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/bees-776712_1920.jpg" alt="Photo of a Shiba Inu">
      <md-card-content>
        <p>
          Le miel d'été est dit polyfloral car il est composé de plusieurs nectars dont de l’acacia, du tilleul et surtout du nectar
          d’arbres fruitiers comme les cerisiers, les pruniers ou encore les pommiers. La petite particularité de cette année,
          c'est qu'il est mélangé à du tournesol. Cela lui donne la particularité d’être de couleur rousse avec un goût très
          fruité et acidulé avec une touche de fraicheur qui rappelle de belles journées ensoleillées. Il est riche en oligo-éléments.
        </p>
      </md-card-content>
    </md-card>
  </div>

</div>