<sap-title></sap-title>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">App Type</div>
        <div class="panel-body">
            <h3>Simple date and time application</h3>
        </div>
    </div>

    <div class="panel panel-primary">
            <div class="panel-heading">App Name</div>
            <div class="panel-body">
                <h3>'simple-app'</h3>
            </div>
        </div>
</div>

<sap-date></sap-date>

<sap-time></sap-time>