<div class="container">
    <div class="jumbotron">
        <h1>Welcome</h1>
        <h2>Angular & Bootstrap Demo</h2>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">App Type</div>
        <div class="panel-body">
            <h3>Simple clock and date application</h3>
        </div>
    </div>

    <div class="panel panel-primary">
            <div class="panel-heading">App Name</div>
            <div class="panel-body">
                <h3>simple-app</h3>
            </div>
        </div>
</div>

<sap-title></sap-title>

<sap-date></sap-date>

<sap-time></sap-time>