<div class="container" *ngIf="showNewForm == false">
  <div class="panel panel-success">
    <div class="panel-body">
      <button type="button" class="btn btn-success btn-lg btn-block" (click)="showNewForm = true">Add new photo</button>
    </div>
  </div>
</div>

<pgy-form *ngIf="photoToEdit" [photo]="photoToEdit" (onClose)="closeEditForm()" (onSave)="loadPhotos()"></pgy-form>

<pgy-form *ngIf="showNewForm" (onClose)="closeNewForm()" (onSave)="loadPhotos()" (onSave)="closeNewForm()"></pgy-form>

<div class="container">
  <div class="row">
    <div *ngFor="let photo of photos">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-responsive" data-toggle="modal" data-target="#picture" src="{{photo.src}}" /> {{photo.caption}}
        <span [innerHTML]="trashcanIcon" (click)="deletePhoto(photo)"></span>
        <span [innerHTML]="pencilIcon" (click)="updatePhoto(photo)"></span>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>DANGER ZONE - no confirmation before deleting all photos!</strong></h3>
    </div>
    <div class="panel-body">
      <button type="button" class="btn btn-danger btn-lg btn-block" (click)="deleteAll()">Delete all photos</button>
    </div>
  </div>
</div>
<hr>